<h1>Your tasks</h1>

<%= link_to "create_new_task", new_user_task_path(current_user) %>

<%= will_paginate @tasks, renderer: WillPaginateSemanticUi::ActionView::Renderer %>

<!--<%= render @tasks, user: @user %> -->

<%= form_tag user_tasks_path , method: :put do %>
  <% @tasks.each do |task| %>
    <%= fields_for "tasks[]", task do |f| %>

      <%= f.label :done %>
      <%= f.check_box :done %>
    <% end %>

    <%= task.content %>
    <%= task.dead_line %>
    <br />
  <% end %>
  <%= submit_tag %>
<% end %>

<%= will_paginate @tasks, renderer: WillPaginateSemanticUi::ActionView::Renderer %>
