<div class="ui container">
  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div class="ui form error segment">

      <% if !resource.errors.empty? %>
        <div class="ui error message">
          <%= devise_error_messages! %>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "ui button primary" %>
      </div>
    </div>
  <% end %>


  <div class="ui segment">
    <%= render "devise/shared/links" %>
  </div>

</div>