<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     
    <%= render "shared/message" %>
    <%= render "shared/header" %>

    <div class="<%= controller.controller_name %>">
      <main class="main ui container ">
        <div class="ui grid">
          <div class="centered ten wide column">
            <%= yield %>
          </div>
        </div>
      </main>
    </div>

  </body>
</html>
